Atom/
Code/Backups/
Code/Cache/
Code/CachedData/
Code/CachedExtensionVSIXs/
Code/CachedExtensions/
Code/Code Cache/
Code/Cookies
Code/Cookies-journal
Code/Crash Reports/
Code/GPUCache/
Code/Local Storage/
Code/Network Persistent State
Code/Preferences
Code/Session Storage/
Code/TransportSecurity
Code/User/globalStorage/
Code/User/sync/
Code/User/workspaceStorage/
Code/exthost Crash Reports/
Code/languagepacks.json
Code/logs/
Code/machineid
Code/rapid_render.json
Code/storage.json
Gaijin/
GeoGebra/
Kite/
Microsoft/
QtProject.conf
RStudio/
Slack/
Unknown Organization/
WarThunder/
app-outlet/
autostart/
cef_user_data/
chromium/
coc/
dask/
dconf/
discord/
enchant/
eog/
evince/
evolution/
gatsby/
gedit/
gh/
gnome-control-center/
gnome-games/
gnome-initial-setup-done
goa-1.0/
google-chrome/
gtk-2.0/
gtk-3.0/
htop/
ibus/
inkscape/
kazam/
libreoffice/
menus/
mimeapps.list
monitors.xml
monitors.xml~
nautilus/
nixpkgs/
nordvpn/
nvim/.netrwhist
nvim/coc-settings.json
nvim/js_init.vim
nvim/matthias_init.vim
nvim/saeed_init.vim
obs-studio/
pavucontrol.ini
pulse/
remmina/
skypeforlinux/
stacer/
supertuxkart/
systemd/
teams/
terminator/
texstudio/
tikzit/
totem/
update-notifier/
user-dirs.dirs
user-dirs.locale
xm1/
zoomus.conf

